version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: ${DOCKERFILE:-docker/Dockerfile.dev}
    volumes:
      - ./src:/app/src
    ports:
      - "8080:8080"
    environment:
      - AIR_WATCH_DELAY=1000
    command: ["air"]
